*{
  padding: 0;
  margin: 0;
}

.container{
  padding: 50px;
  text-align: center;
}
#Ring{
  z-index: -1;
}
#stoneimage{
     position: absolute;
    top: 26%;
    left: 50.5%;

}
#stoneimage2{
      position: absolute;
    top: 25.5%;
    left: 47.5%;
  
 
}
.selectoptions img{
  padding-top: 5px;
  border-collapse: collapse;
box-shadow: 1px 1px  1px rgba(0, 0, 0, 0.485);
  

}
.optioncontain{
  margin-top:30px;
  display: felx;
  
}
.selectoptions{
  top:10px;
}
