*{
  padding: 0;
  margin: 0;
}


.container {
    width: 40%;
    margin: 2% auto 0 auto;
}

.container h2 {
    margin-top: 2%;
    text-align: center;
    /* font-size: 24px; */
}

.imagecontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#ring {
    display: block;
    width: 55%;
    margin: 10px auto;
box-shadow: 2px 2px 3px #3030305a;
}

#stoneimage1,#stoneimage2 {
    width: 8%;
}

#stoneimage1 {
    position: absolute;
    top: 45%;
    left: 41%;
}
#stoneimage2 {
    position: absolute;
    top: 46%;
    left: 51%;
}
.selectoptions img{
    padding: 2%;
    border-collapse: collapse;
    border: 1px #303030a5 solid;
  

}
.optioncontain{
  margin-top:30px;
  display: felx;
  
}
.selectoptions{
  top:10px;
}
